@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
:root {
    --blue: #3475ca; /* rgb(52, 117, 202) */
    --darkBlue: #262c3b;
    --veryDarkBlue: #12222d;
    --white: #fafafa;
    --fontSize: 16px;
    --fontFamily: 'Poppins', sans-serif;
    --transition: .3s ease;
}
/************************
basic styles
************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    line-height: 1.6;
    color: var(--white);
}
h2 {
    font-size: 2.4rem;
}
p {
    font-size: 1.3rem;
}
.container {
    max-width: 86%;
    margin: auto;
}
a {
    text-decoration: none;
}
/************************
mainHeader
************************/
.mainHeader {
    background-image: linear-gradient(rgba(52, 117, 202,.8),rgba(52, 117, 202,.8)), url(assets/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.mainHeader nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.mainHeader .logo {
    color: var(--white);
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}
.mainHeader .toggle {
    color: var(--white);
    background-image: url(assets/toggle.png);
    background-size: cover;
    width: 36px;
    height: 28px;
    cursor: pointer;
}
.mainHeader .content {
    text-align: center;
    max-width: 850px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}
.mainHeader .content h1 {
    font-size: 4.2rem;
}
/************************
about
************************/
.about {
    display: flex;
    align-items: center;
}
.about article:first-child {
    height: 90vh;
    flex: 0 0 50%;
    padding: 0 7%;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about h2 {
    padding-bottom: 20px;
}
.about p {
    padding-bottom: 30px;
}
.about article:last-child {
    flex: 0 0 50%;
    height: 90vh;
}
.about article img {
    width: 100%;
    height: 100%;
}
/************************
services
************************/
.services {
    background-color: var(--veryDarkBlue);
    height: 65vh;
}
.services article:first-child {
    text-align: center;
    padding: 120px 0 80px;
}
.services h2 {
    padding-bottom: 20px;
}
.services article:last-child {
    position: relative;
}
.services article:last-child .serviceBoxes {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.services article:last-child .serviceBoxes div{
    background-color: var(--white);
    text-align: center;
    flex: 0 0 31%;
    padding: 180px 0;
}
.services article:last-child .serviceBoxes img{
    width: 120px;
}
.services article:last-child .serviceBoxes h3 {
    color: var(--veryDarkBlue);
    font-size: 1.55rem;
}
/************************
technology
************************/
.technology {
    background-color: var(--blue);
    padding-bottom: 120px;
}
.technology article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 380px;
}
.technology h2 {
    padding-bottom: 20px;
}
.technology article div:first-child {
    flex: 0 0 70%;
}
.technology article div:last-child {
    flex: 0 0 25%;
    display: flex;
    justify-content: flex-end;
}
.technology article div:last-child img {
    width: 85%;
}
/************************
clients
************************/
.clients {
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 120px 0;
}
.clients article:first-child {
    padding-bottom: 80px;
}
.clients h2 {
    padding-bottom: 20px;
}
.clients article:last-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clients article:last-child div{
    flex: 0 0 18%;
}
.clients article:last-child div img{
    width: 100%;
    opacity: .3;
    transition: var(--transition);
}
.clients article:last-child div img:hover{
    opacity: 1;
}